/* Mini reset inspiré de Tailwind Preflight */
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb; /* neutre gris clair */
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui, sans-serif;
    tab-size: 4;
}

body {
    margin: 0;
    line-height: inherit;
}

header h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

header img, video {
    max-width: 100%;
    height: auto;
}

main img {
    width: 70%;
    height: auto;
}

.logo {
    width: 5%;
    height: auto;
    margin: 0 2%;
}

.article {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin: 30px;
}

.article-image-container {
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    width: 90%;
    overflow: hidden;
    border-radius: 50%;
}

.article-image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.article-image:hover {
    transform: scale(1.1);
}

.nav-item:hover {
    background-color: #d83434;
    color: white;
}

header {
    padding: 2% 2% 2% 5%;
    background-color: #002d02;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: start;
}

header h1 {
    font-size: 1.6em;

}

header i {
    font-size: 0.9em;
    font-weight: 100;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    padding: 2% 10%;
}

@media screen and (max-width: 600px) {
    .nav-item {
        display: none;
    }

    section {
        grid-template-columns: 1fr 1fr !important;
        margin : 10px !important;
    }

    main {
        padding: 5px 30px;
    }

    .home {
        padding: 0%;
    }

    
}

