<!DOCTYPE html>
    <html>
    <body> 
        <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
    </head>
       <header> 
        <a href="../index.html">
            <img class="w-20" src="../images/logo.png" alt="Logo de la Ferme">
        </a>
        <h1 class="text-3xl ml-20">La Ferme</h1>
        <i class="font-extralight ml-20 text-sm">4 chemin de Bignolas, La Marolle-en-Sologne</i>
    </header>
    <main class="prose">
    <h1>Le bain nordique !</h1><p><em>Page en cours de création</em></p><p><br></p><p>Test <strong>en gras gras</strong></p><p><br></p><p>coucou c'est un test</p>
    </main>
    </body>
    </html>