<!DOCTYPE html>
    <html>
    <body> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
        <link rel="stylesheet" href="../style.css">
        <title>Document</title>
    </head>
       <header > 
        <h1>La Ferme</h1>
        <i class="font-extralight ml-20 text-sm">113 Enceinte de la Paillière</i>
    </header>
    <main class="prose">
    <h1>Le bain nordique !</h1><p><em>Page en cours de création</em></p><p><br></p><p>test test</p><p><br></p>
    </main>
    </body>
    </html>