<!DOCTYPE html>
    <html>
    <body> 
        <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
    </head>
       <header class="p-3 bg-green-950 text-white pl-20 py-5"> 
        <h1 class="text-3xl ml-20">La Ferme</h1>
        <i class="font-extralight ml-20 text-sm">4 chemin de Bignolas, La Marolle-en-Sologne</i>
    </header>
    <main class="prose">
    <h1>Le bain nordique !</h1><p><em>Page en cours de création</em></p><p><br></p><p>Test <strong>en gras</strong></p><p><br></p><p><img src="https://api.github.com/repos/evairson/ferme/contents/images/importer/1743158170476.png" alt="Capture d’écran 2024-12-23 à 12.16.17.png" contenteditable="false"><br></p><p><br></p><p>coucou c'est un test</p>
    </main>
    </body>
    </html>