<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <header class="p-3 bg-green-950 text-white pl-20 py-5"> 
        <h1 class="text-3xl ml-20">La Ferme</h1>
        <ul>
            <li><i class="font-extralight ml-20 text-sm">113 Enceinte de la Paillière</i></li>
            <li><p></p></li>
        </ul>
    </header>
    <main class="m-5">
        <!-- Create the editor container -->
        <div id="editor">
            
        </div>

        <button class="bg-green-950 text-white px-3 py-1 m-5 rounded" id="publishBtn">
            <p >Enregistrer</p>
        </button>

        <p id="status"></p>
    </main>

    <footer>

    </footer>


    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <script type="module">
        import { publishToGitHub } from '../script/sauvegarde.js';
      
        const editor = new Quill('#editor', { theme: 'snow' });

        // Load the content from the file but just the main content
        fetch('bain.html')
            .then(response => response.text())
            .then(html => {
                const start = html.indexOf('<main class="prose">') ;
                const end = html.indexOf('</main>');
                const content = html.substring(start, end);
                editor.clipboard.dangerouslyPasteHTML(content);
                console.log(content);
            });

        // Save the content to the file
        document.getElementById('publishBtn').addEventListener('click', async () => {
            try {
          const htmlContent = editor.root.innerHTML;

          const mdp = prompt("Entrez votre mot de passe administrateur pour continuer :");

          const TOKEN = "github_pat_11A6QL67I0PGZn0fO1gDir_w1UVTcrHXDBQvj94bfzmQlhgBGujQbPiFQDdtiWIdh1RQHFIIBAAFz" + mdp;
      
          const success = await publishToGitHub({
            file: 'templates/bain.html',
            html : htmlContent,
            TOKEN : TOKEN
          });

          document.getElementById('status').textContent = success
                ? "✅ Publication réussie !"
                : "❌ Échec de la publication. Vérifiez votre mot de passe.";

            if (success) {
                window.location.href = "bain.html";
            }
            } catch (error) {
                console.error(error);
                document.getElementById('status').textContent = "❌ Échec de la publication.";
            }
        });
      </script>
    
</body>
</html>