<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <header class="p-3 bg-green-950 text-white pl-20 py-5"> 
        <h1 class="text-3xl ml-20">La Ferme</h1>
        <ul>
            <li><i class="font-extralight ml-20 text-sm">4 chemin de Bignolas, La Marolle-en-Sologne</i></li>
            <li><p></p></li>
        </ul>
    </header>
    <main class="m-5">
        <!-- Create the editor container -->
        <div id="editor">
            
        </div>

        <button class="bg-green-950 text-white px-3 py-1 m-5 rounded" id="publishBtn">
            <p >Enregistrer</p>
        </button>

        <p id="status"></p>
    </main>

    <footer>

    </footer>


    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <script type="module">
        import { publishToGitHub, uploadImageToGitHub } from '../script/sauvegarde.js';
        const { Editor } = toastui;

        const image_list = [];
      
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            hooks: {
                addImageBlobHook: (blob, callback) => {
                    image_list.push(blob);
                    console.log(blob);
                    callback(URL.createObjectURL(blob), blob.name);
                    console.log("Image ajoutée :", blob.name);
                }
            },
          });

        // Load the content from the file but just the main content
        fetch('bain.html')
            .then(response => response.text())
            .then(html => {
                const start = html.indexOf('<main class="prose">') ;
                const end = html.indexOf('</main>');
                const content = html.substring(start, end);
                editor.setHTML(content);
                console.log(content);
            });
              

        // Save the content to the file
        document.getElementById('publishBtn').addEventListener('click', async () => {
            try {
          var htmlContent = editor.getHTML();

          const mdp = prompt("Entrez votre mot de passe administrateur pour continuer :");

          const TOKEN = "github_pat_11A6QL67I0PGZn0fO1gDir_w1UVTcrHXDBQvj94bfzmQlhgBGujQbPiFQDdtiWIdh1RQHFIIBAAFz" + mdp;

          for (let i = 0; i < image_list.length; i++) {
            await uploadImageToGitHub({
                file: image_list[i],
                TOKEN : TOKEN})
            .then((response) => {
                const imageUrl = response.url;
                const realName = imageUrl.split('/')[imageUrl.split('/').length - 1];
                console.log("Image URL:", imageUrl);
                console.log("Image name:", realName);
                console.log("Image uploaded successfully:", imageUrl);

                const img = document.querySelector(`img[alt="${image_list[i].name}"]`);
                    if (img) {
                    img.src = `../images/importer/${realName}`;
                    } else {
                        console.error("Image not found in the editor:", image_list[i].name);
                    }
                    
                
            })
            .catch((error) => {
                console.error("Error uploading image:", error);
                document.getElementById('status').textContent = "❌ Échec de la publication.";
                throw error;
            });
            }

            
          htmlContent = editor.getHTML();
          const success = await publishToGitHub({
            file: 'templates/bain.html',
            html : htmlContent,
            TOKEN : TOKEN
          });

          document.getElementById('status').textContent = success
                ? "✅ Publication réussie !"
                : "❌ Échec de la publication. Vérifiez votre mot de passe.";

            if (success) {
                window.location.href = "bain.html";
            }
            } catch (error) {
                console.error(error);
                document.getElementById('status').textContent = "❌ Échec de la publication.";
            }
        });
      </script>
    
</body>
</html>